# Python virtual environment
venv/

#Data files
backend/data/raw/*.csv
backend/models/*.json


# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs and editors
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
#logs/*.log

# Environment variables
.env

# Compiled Python files
__pycache__/

# Ignore .md files in tests and backend folders
backend/tests/*.md
backend/BASELINE_RESULTS*.md
backend/notebooks/baseline_analytics.ipynb
backend/notebooks/baseline.ipynb